.header-outer-container {
  position: static;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(148, 132, 132); */
  background-color: rgb(20, 20, 20);
  /* background-color: transparent; */
  height: 10vh;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  margin-bottom: 2rem;
  /* background-color: red;*/
}
.nav__black {
  /* background-color: rgb(20, 20, 20); */
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 0;
  /* background-color: yellow; */
}
.header_left {
  width: 140%;
  display: flex;
  /* justify-content: ; */
  align-items: center;

  cursor: pointer;
  /* background-color: lightblue; */
}
.header_left ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  align-items: center;
}
.header_right {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
  /*background-color: lightgreen;*/
}
.header_right ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px; /* Adjust spacing */
}
